---
const colors = ["nimbus", "rose", "flame", "acid", "element", "eggplant", "spill"];
const defaultColor = "rose";
---

<aside
  aria-label="Color theme"
  class:list={[
    "lg:fixed lg:left-4 lg:top-4 lg:bottom-4 lg:[writing-mode:tb-rl]",
    "hidden gap-2 lg:gap-6 supports-[color:color-mix(in_hsl,#fff,#fff_50%)]:flex items-center",
    "text-xs mb-8 lg:mb-0"
  ]}
>
  <fieldset name="hue" class="flex gap-2" aria-labelledby="hue" id="hue">
    <legend class="uppercase sr-only" id="hue">Hue</legend>
    {
      colors.map((color) => (
        <input
          type="radio"
          name="hue"
          id={`hue-${color}`}
          value={color}
          class="sr-only"
          checked={color === defaultColor}
        />
        <label
          for={`hue-${color}`}
          style={`background-color: var(--color-${color})`}
          class="w-5 h-5 inline-block outline-offset-2"
          aria-label={color}
          title={color}
        >
          <span class="sr-only">{color}</span>
        </label>
      ))
    }
    <style>
      input[name="hue"]:focus + label {
        outline: 2px solid var(--active-hue);
      }
    </style>
  </fieldset>
  <label class="uppercase grid text-right grid-cols-[5ch_1fr] gap-3 w-full">
    <abbrev title="Saturation">Sat</abbrev>
    <input
      type="range"
      class="w-full accent-(--active-hue)"
      id="saturation"
      min="0"
      max="1"
      step="0.05"
    />
  </label>
</aside>

<script is:inline>
  function getSelectedHue() {
    const hueButtons = document.getElementsByName("hue");
    for (const radioButton of hueButtons) {
      if (radioButton.checked) {
        return radioButton.value;
      }
    }
    return defaultColor;
  }
  const comps = {
    nimbus: 1,
    rose: 0.5,
    flame: 0.05,
    acid: 1,
    element: 0.1,
    eggplant:0.5,
    spill: 0.35,
  };
  const colors = Object.keys(comps)
  const doc = document.documentElement;
  if (localStorage) {
    const saved = localStorage.getItem('hue')
    if (saved && colors.includes(saved)) {
      updateColors(saved)
    }
  }
  document.getElementById('hue').addEventListener("input", () => {
    const hue = getSelectedHue();
    updateColors(hue)
  })
  document.getElementById('saturation').addEventListener("input", () => {
    const hue = getSelectedHue();
    updateColors(hue)
  })
  function updateColors(hue) {
    localStorage.setItem('hue', hue)
    doc.style.setProperty("--active-hue", `var(--color-${hue})`);
    const saturation = hue === 'nimbus' ? 0 : document.getElementById("saturation").valueAsNumber;
    doc.style.setProperty("--active-saturation", saturation);
    const comp = comps[hue];
    doc.style.setProperty("--active-comp", comp);
    // set theme color
    const value = getComputedStyle(doc).getPropertyValue(`--color-${hue}`);
    document
      .querySelector('meta[name="theme-color"]')
      .setAttribute("content", value);
    // set accent
    const accent = colors[(colors.indexOf(hue) % (colors.length - 1)) + 1]
    console.log(colors.indexOf(hue), (colors.indexOf(hue) % (colors.length - 1)) + 1, colors.length)
    doc.style.setProperty("--active-accent", `var(--color-${accent})`);
  }
</script>
